<header class="header">
  <div class="first_line"><a class="" href="{{site.url}}"><span class="">Tutorials</span></a>
    {% if curr_lecture != nil %}
        <!-- find lecture title -->
        {% for site_page in site.pages %}
            {% capture indexurl %}/lectures/{{ curr_lecture | replace: ' ', '_' | downcase }}/index.html{% endcapture %}
            {% if site_page.url == indexurl %}
                &raquo; <a href="{{site_page.url}}">{{ site_page.title }}</a>
            {% endif %}
        {% endfor %}
    
    {% endif %}
  </div>
  <small class="thin"> 
  {% if title_in_header != nil %}
         &raquo; 
        {{ title_in_header }}
  {% else %}
   &nbsp;
  {% endif %}
  </small>
</header>