<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>Tutorials &raquo; {{ page.title }}</title>
<link rel="stylesheet" href="{{ site.url }}/stylesheets/style.css">
<link rel="stylesheet" href="{{ site.url }}/stylesheets/style_added.css">
<link rel="stylesheet" href="{{ site.url }}/stylesheets/media.css">

<script type="text/javascript" src="{{site.url}}/javascripts/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{{site.url}}/javascripts/jquery_caption.js"></script> 