{% assign site_pages = (site.pages | sort:"name") %}
<aside id="sidebar">

  <section class="sidebar-block block-short">
    <nav class="navigation pages-nav home-nav">
      <h6><a class="nav-link" href="{{site.url}}">Tutorials</a></h6>
      <small class="dimmed">WI-PI &raquo; WWU Münster</small>
    </nav>
  </section>

  <section class="sidebar-block">
    <h5 class="sidebar-title">Overview</h5>
    <ol class="navigation chapters-list">
      {% for chapter in site.lectures %}
        {% capture url %}/lectures/{{ chapter | replace: ' ', '_' | downcase }}{% endcapture %}
        {% capture indexurl %}{{ url }}/index.html{% endcapture %}
          {% if (only_lecture == nil or only_lecture == chapter ) %}
            {% include sidebar_content.html %}
          {% endif %}
      {% endfor %}
      
      {% capture url %}/lectures/general{% endcapture %}
      {% capture indexurl %}{{ url }}/index.html{% endcapture %}
      {% include sidebar_content.html %}
    </ol>
  </section>

  <section class="sidebar-block">
    <nav class="navigation pages-nav">
      <small class="thin dimmed">(last updated {{ site.time | date_to_long_string }})</small>
    </nav>
  </section>

</aside>