@media (max-width: 750px) {
    #sidebar {
        position: inherit;
        width: 100%;
        padding: 10px;
        overflow-y: auto;
    }
    
   .sidebar-block {
    margin-bottom: 0px;
   }
   

   .page-active:after {
    top: 0;
}

   
.nav-bar {
    display: block;
    position: fixed;
    z-index: 1;

}
   
    .container {
        margin: 0;
        margin-top: 30px;
        min-width: inherit;
        padding: 10px;
    }
    .content {
        margin: 10px;
    }
    
    .content-block {
        margin-bottom: 10px;
    }
    .footer {
        margin-bottom: 5px;
    }
}

@media (min-width: 751px) and (max-width: 899px) {
    #sidebar {
         #position: absolute;
         padding: 40px 10px 40px 10px;
    }
    .content {
        margin-right: 10px;
    }
    .container {
        min-width: inherit;
    }
    body {
        min-width: 400px;
    }

}

@media (min-width: 900px) {
    #sidebar {
         #position: absolute;
         #bottom: auto;
    }
}

@media print {
     #a[href]:after { content: " (" attr(href) ")"; }
     .content a[href]:after { content: " (" attr(href) ")"; }
     h1, h2, h3 { page-break-after: avoid; }
}