/*
    Header.html
======================================================================== -*/
.header .first_line {
    margin-bottom: 0px;
    font-size: 20px;
}

.header small {
    margin-left: 60px;
    margin-top: -20px;
    font-size: 24px;
}

.header .entypo {
    line-height: 0;
    top: 25px;
}

.header .title {
    background: none repeat scroll 0 0 transparent;
}

.ir:before { 
    /* content: ""; */
}

/*
    Content
======================================================================== */
.container {
    margin-left: 30%;
}

.content {
    margin-right: 150px;
    font-size: 12pt;
    max-width: 600px;
}

.content .footnotes p {
    padding: 0px;
    margin: 0px;
}

.table_of_content {
    font-size: 0.8em;
}

.table_of_content li {
    margin-left: 30px;
}

/*
    Sidebar
======================================================================== */
#sidebar {
    width: 30%;
}

.sidebar-block ol {
    list-style: none outside none;
}

.nav-bar {
    top: 0;
    left: 0;
    text-align: center;
    background: none repeat scroll 0 0 #F0F5F6;
    width: 100%;
    height: 30px;
    display: none;
}

.nav-bar .button {
    float: left;
    width: 50%;
    text-decoration: none;
}

/*
    Typography
======================================================================== */
.content ol ol {
    list-style: lower-roman outside none;
}

.content pre {
    font-size: 0.8em;
    padding: 12px 24px;
}

.tip {
    color: #4C4C49;
    background: #B1C805;
    padding: 1px 5px;
    margin-bottom: 1em;
}

.example {
    color: #4C4C49;
    background: #009DD1;
    padding: 1px 5px;
    margin-bottom: 1em;
}

.footnote {
    color: #4C4C49;
    background: #F5F5F5;
    padding: 1px 5px;
    margin-bottom: 1em;
}

.figure {
    margin: 0 auto 1em;
    max-width: 95%;
    background: lightgrey;
    padding: 2px;
    width: -moz-min-content;
}

.figure .image {
    
}

.figure .caption {
    font-size: 0.8em;
    padding-left: 50px;
    padding-right: 10px;
    text-indent: -40px;
}


/* (Vertical) Accordion 
(based on http://www.hongkiat.com/blog/create-css-based-content/)
========================================================================*/
.accordion { 
	width:100%; 
	overflow:hidden; 
	margin:10px auto; 
	background:#aaa; 
	padding:10px; 
}

/*Set style of open slide*/
.accordion section:target { background:#FFF; padding:10px;}
.accordion section:target:hover { background:#FFF; }
.accordion section:target h5 {width:100%;}
.accordion section:target h5 a{ color:#333; padding:0;}
.accordion section:target > div {display:block;}
.accordion section h5 a{
	padding:8px 10px;
	display:block; 
	font-size:16px; 
	font-weight:bold;
	color:#eee; 
	text-decoration:none; 
}

/*set style of closed slide*/
.accordion section{ 
	float:left;	
	overflow:hidden; 
	color:#333; 
	cursor:pointer; 
	background: #5f5f5f; 
	margin:3px; 
}
.accordion section:hover {background:#444;}
.accordion section > div { display:none; }
/*.accordion section:after{
	position:relative;
	font-size:24px;
	color:#000;
	font-weight:bold;}
.accordion section:after{content:'>';}*/

.vertical section{ 
	width:100%; 
	max-height:40px;
}
/*Set height of the slide*/
.vertical :target{ max-height:50em; width:97%; }

/*.vertical section h5 { 
	position:relative; 
	left:0; 
	top:-15px; 
}*/

/*Set position of the number on the slide*/
/*.vertical section:after{ top:-60px;left:810px;}
.vertical section:target:after{ left:-9999px;}*/

