<!doctype html>
{% assign site_pages = (site.pages | sort:"name") %}
{% assign curr_lecture = 'general' %}
{% for chapter in site.lectures %}
    {% capture url %}/lectures/{{ chapter | replace: ' ', '_' | downcase }}{% endcapture %}
     {% if page.url contains url %}
        {% assign only_lecture = chapter %}
        {% assign curr_lecture = chapter %}
    {% endif %}
{% endfor %}
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include body_top.html %}
    <section class="container">

      {% include header.html %}

      <section class="content">

      <article class="content-block">
          {{ content }}

          <div class="table_of_content">
            <div><strong>Table of Content</strong></div>
                {% capture url %}/lectures/{{ curr_lecture }}{% endcapture %}
                {% capture indexurl %}{{ url }}/{% endcapture %}
                {% assign no_index_print = true %}
                {% include sidebar_content.html %}
                {% assign no_index_print = nil %}
            </div>

        </article>

        {% include footer.html %}

      </section>

    </section>

    {% include sidebar.html %}

 </body>
</html>
