{% for chapter in site.lectures %}
    {% capture url %}/lectures/{{ chapter | replace: ' ', '_' | downcase }}{% endcapture %}
     {% if page.url contains url %}
        {% assign only_lecture = chapter %}
        {% assign curr_lecture = chapter %}
    {% endif %}
{% endfor %}
<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include body_top.html %}
    <section class="container">

      {% assign title_in_header = page.title %}
      {% include header.html %}

      <section class="content">

        <article class="content-block recipe-content">
          <b>These tutorials are no longer maintained.</b> Some of these tutorials continue to be maintained for the lecture <a href="../acse/">Advanced Concepts in Software Engineering</a>.
          
          {{ content }}
        </article>

        {% include footer.html %}
      </section>

    </section>

   {% include sidebar.html %}

 </body>
</html>
