{% for chapter in site.lectures %}
    {% capture url %}/lectures/{{ chapter | replace: ' ', '_' | downcase }}{% endcapture %}
     {% if page.url contains url %}
        {% assign only_lecture = chapter %}
        {% assign curr_lecture = chapter %}
    {% endif %}
{% endfor %}
<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    <section class="container">

      {% assign title_in_header = page.title %}
      {% include header.html %}

      <section class="content">

        <article class="content-block recipe-content">
          
          {{ content }}
        </article>

        {% include footer.html %}
      </section>

    </section>

   {% include sidebar.html %}

 </body>
</html>